:root{
    --main-text-color: #212121;
    --second-text-color: #757575;
    --main-bg-color: #ffffff;
    --active-link-hover-color: #2196F3;
    --footer-contacts-color: #FFFFFF99;
    --bg-color-section-black: #2F303A;
    --bg-color-section-white: #F5F4FA;
    --bg-button-color: #2196F3;
    --bg-buton-hover-color: #1b65a2;
    --button-border-color: transparent;
    --border-example-color: #EEEEEE;
    --border-header-color: #ECECEC;
    --border-order-color: #000000;
    --clients-color: #AFB1B8;
    --networks-icon-color: #AFB1B8;
    --bg-color-footer-network: rgba(255,255,255,0.1);
    --bg-color-doing-descr: rgba(47, 48, 58, 0.8);
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --bg-color-item-before: rgba(33, 150, 243, 0.9);
    --bg-color-modal: #00000033;
    --border-color-input-form: rgba(33, 33, 33, 0.2);
}

html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    background-color: #fff;
    color: var(--main-text-color);

    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
}

h1,
h2, 
h3,
h4,
h5,
h6,
p{
    margin: 0;
}

h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
}


section{
    padding-top: 94px;
    padding-bottom: 94px;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

address{
    font-style: normal;
}

.list{
    padding: 0;
    margin: 0;
    list-style: none;
}

.link{
    text-decoration: none;
    cursor: pointer;
}

.container{
    /* border: 2px solid red; */
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}

/*Настройки скрытого класса*/
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0px;
    padding: 0px;
    white-space: nowrap;
    clip-path: insert(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*Студия*/
header .container{
    display: flex;
    align-items: center;
}

/*Логотип*/
.logo{
    display: inline-block;

    color: var(--main-text-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.header__logo{
    margin-right: 93px;
}

.header__logo--web{
    color: var(--active-link-hover-color);
}

/*Навигация по сайту*/
.navigate__list{ 
    display: flex;
}

.navigate__link{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--main-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition: color 250ms var(--timing-function);
}

.navigate__item{
    position: relative;
}

.navigate__item + .navigate__item{
    margin-left: 50px;
}

.navigate__link:hover,
.navigate__link:focus{
    color:var(--active-link-hover-color);
}

/*Активная вкладка*/
.navigate__link--active{
    position: relative;
    color: var(--active-link-hover-color);
}

.navigate__link--active::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;

    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--active-link-hover-color);
}

.contacts{
    display: flex;
    margin-left: auto;
}

.contacts__item{
    padding-top: 32px;
    padding-bottom: 32px;
}

.contacts__item + .contacts__item{
    margin-left: 50px;
}

/*E-mail и телефон*/
.contacts__item--mail,
.contacts__item--tel{
    display: flex;
    align-items: center;
    color: var(--second-text-color);
    font-weight: 500;

    transition: color 250ms var(--timing-function);
}

.contacts__item--mail:hover,
.contacts__item--mail:focus,
.contacts__item--tel:hover,
.contacts__item--tel:focus{
    color: var(--active-link-hover-color);
}

.contacts__item--icon{
    fill: currentColor;
    margin-right: 10px;
}

.contacts__item--icon:hover,
.contacts__item--icon:focus{
    fill: var(--active-link-hover-color);
}

/*Заказ услуги*/
.order{
    padding-top: 200px;
    padding-bottom: 200px;
    height: 600px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;

    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),
    url(../images/bg-img-order.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 1px solid var(--border-order-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
}

.order__head{
    width: 696px;
    margin-right: auto;
    margin-left: auto;

    color: var(--main-bg-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.order__btn{
    align-items: center;
    text-align: center;
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 32px;
    padding-right: 32px;

    color: var(--main-bg-color);
    background-color: var(--bg-button-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;
    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;

    transition: background-color 250ms var(--timing-function);
}

.order__btn:hover,
.order__btn:focus{
    background-color: var(--bg-buton-hover-color);
}

/*Наши сильные стороны*/
.strengths__list{
    display: flex;
}

.strengths__item{
    width: calc((100% - 90px) / 4);
    margin-right: 30px;
}

.strengths__item:nth-child(4n){
    margin-right: 0;
}

.strengths__header{
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.88;
    text-transform: uppercase;
    margin-top: 30px;
}

.strengths__title{
    color: var(--second-text-color);
    line-height: 1.71;
}

.strengths__icon--container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    background-color: var(--bg-color-section-white);
}

.strengths__icon{
    width: 70px;
    height: 70px;
    fill: currentColor;
}

/*Чем мы занимаемся*/
.occupation{
    padding-top: 0;
}

.occupation__header{
    margin-bottom: 50px;
    text-align: center;
}

.occupation__list{
    display: flex;
    flex-wrap: wrap;
}

.occupation__item{
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
}

.occupation__item:nth-child(3n){
    margin-right: 0;
}

.occupation__item{
    position: relative;
}

.occupation__descr{
    position: absolute;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color-doing-descr);
    color: var(--main-bg-color);
    width: 100%;
    height: 70px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
}

/*Наша команда*/
.team{
    background-color: var(--bg-color-section-white);
}

.team__header{
    margin-bottom: 50px;
    text-align: center;
}

.team__list{
    display: flex;
}

.team__item{
    width: 270px;
    margin-right: 30px;
    background-color: var(--main-bg-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team__item:nth-child(4n){
    margin-right: 0;
}

.team__meta{
    padding-top: 30px;
    padding-bottom: 30px;
}

.team__meta--name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.team__meta--profession{
    margin-top: 10px;
    
    color: var(--second-text-color);
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

 /*Соц сети команды*/
.networks__list{
    display: flex;
    margin-top: 16px;
    justify-content: center;
}

.networks__item + .networks__item{
    margin-left: 10px;
}

.networks__link{
    display: flex;
    width: 44px;
    height: 44px;
    color: var(--clients-color);
    background-color: var(--main-bg-color);
    border-radius: 50%;
    align-items: center;
    justify-content: center;

    transition: color 250ms var(--timing-function),
        background-color 250ms var(--timing-function);
}

.networks__link:hover,
.networks__link:focus{
    color: var(--main-bg-color);
    background-color: var(--active-link-hover-color);
}

.networks__icon{
    width: 20px;
    height: 20px;
    fill: currentColor;
}

/* Клиенты */
.clients__header{
    margin-bottom: 50px;
    text-align: center;
}

.clients__list{
    display: flex;
}

.clients__link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid var(--clients-color);
    border-radius: 4px;
    color: var(--clients-color);
    transition: color 250ms var(--timing-function),
        border-color 250ms var(--timing-function);
}

.clients__link:hover,
.clients__link:focus{
    color: var(--active-link-hover-color);
    border-color: var(--active-link-hover-color);
}

.clients__item + .clients__item{
    margin-left: 30px;
}

.clients__icon{
    width: 106px;
    height: 60px;
    fill: currentColor;
}

/*Footer*/
footer{
    background-color: var(--bg-color-section-black);
    padding-top: 60px;
    padding-bottom: 60px;
}

footer .container{
    display: flex;
    align-items: baseline;
}

.footer__contacts{
    margin-right: 70px;
}

.footer__contacts--logo{
    color: var(--main-bg-color);
    margin-top: 0;
    margin-bottom: 20px;
}

.footer__logo--web {
    color: var(--active-link-hover-color);
}

/*Контакты*/
.address__link--locate{
    color: var(--main-bg-color);
    line-height: 1.71;
}

.address__link--locate:hover,
.address__link--locate:focus{
    color: var(--active-link-hover-color);
}

.address__link{
    color: var(--footer-contacts-color);
    line-height: 1.71;
    transition: color 250ms var(--timing-function);
}

.address__link:hover,
.address__link:focus{
    color: var(--active-link-hover-color);
}

.address__item + .address__item{
    margin-top: 9px;
}

/*Соц сети footer*/
.socials__header{
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
    color: var(--main-bg-color);
}

.socials__list{
    display: flex;
    margin-top: 20px;
}

.socials__item + .socials__item{
    margin-left: 10px;
}

.socials__link{
    display: flex;
    width: 44px;
    height: 44px;
    color: var(--main-bg-color);
    background-color: var(--bg-color-footer-network);
    border-radius: 50%;
    align-items: center;
    justify-content: center;

    transition: background-color 250ms var(--timing-function);
}

.socials__link:hover,
.socials__link:focus{
    background-color: var(--active-link-hover-color);
}

.socials__icon{
    width: 20px;
    height: 20px;
    fill: currentColor;
}

/*Подписаться footer*/
.subscribe{
    margin-left: auto;
}

.subscribe__header{
    margin-bottom: 20px;
    color: var(--main-bg-color);
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
}

.subscribe__form{
    display: flex;
}

.subscribe__input{
    width: 358px;
    height: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
    color: rgba(255, 255, 255, 0.3);
    background-color: var(--bg-color-section-black);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
}

.subscribe__input::placeholder{
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
}

.subscribe__btn{
    position: relative;
    display: inline-block;
    margin-left: 12px;
    padding: 10px 62px 10px 28px;
    width: 200px;
    height: 50px;
    color: var(--main-bg-color);
    background-color: var(--bg-button-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    transition: background-color 250ms var(--timing-function);
}

.subscribe__btn:hover,
.subscribe__btn:focus {
    background-color: var(--bg-buton-hover-color);
}

.subscribe__icon{
    position: absolute;
    top: 13px;
    right: 32px;
    margin-left: 10px;
    width: 24px;
    height: 24px;
}

/*Модальное окно*/
.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color-modal);
    opacity: 1;
    transition: opacity 250ms var(--timing-function);
}

.backdrop.is-hidden{
    opacity: 0;
    pointer-events: none;
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    width: 528px;
    height: 581px;
    background-color: var(--main-bg-color);
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
        0px 1px 1px rgba(0, 0, 0, 0.14), 
        0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal__btn--close{
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--main-bg-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
}

.modal__icon--close{
    width: 18px;
    height: 18px;
    fill: var(--border-order-color);
    transition: fill 250ms var(--timing-function);
}

.modal__icon--close:hover,
.modal__icon--close:focus{
    fill: var(--active-link-hover-color);
}

.modal__header{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
}

/*Форма в модалке*/
.form__field{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.form__field:last-child,
.form__field:first-child {
    margin-top: 0;
}

.form__lable{
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--second-text-color);
}

.form__input{
    margin: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 42px;
    margin-top: 4px;
    height: 40px;
    border: 1px solid var(--border-color-input-form);
    border-radius: 4px;
    transition: border 250ms var(--timing-function);
}

.form__field:focus-within .form__input{
    outline: none;
    border: 1px solid var(--active-link-hover-color);
    border-radius: 4px;
}

.form__field:focus-within .form__icon{
    fill: var(--active-link-hover-color);
}

.form__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    width: 18px;
    height: 18px;
    display: block;
    transition: fill 250ms var(--timing-function);
}

.form__textarea{
    resize: none;
    width: 448px;
    height: 120px;
    margin-top: 4px;
    padding: 12px 16px;
    border: 1px solid var(--border-color-input-form);
    border-radius: 4px;
    transition: border 250ms var(--timing-function);
}

.form__textarea::placeholder{
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.form__field--checkbox {
    display: inline-block;
    margin-left: 13px;
    align-items: center;
    margin-top: 4px;

    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
}

.form__field--checkbox::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 15px;
    margin-right: 9px;
    background-image: url(../images/icon_check.svg);
}

.form__link {
    color: var(--active-link-hover-color);
    margin-left: 5px;
}

    .form__checkbox:checked + .form__field--checkbox::before {
        background-image: url(../images/icon_check.svg);
    }

.form__btn--submit{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 55px;
    padding-right: 55px;

    color: var(--main-bg-color);
    background-color: var(--bg-button-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;

    transition: background-color 250ms var(--timing-function);
}

.form__btn--submit:hover,
.form__btn--submit:focus {
    background-color: var(--bg-buton-hover-color);
}

/*Портфолио*/
.header__portfolio{
    border-bottom: 1px solid var(--border-header-color);
}

/*Навигация по странице*/
.page-navigate__list{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.page-navigate__item + .page-navigate__item{
    margin-left: 8px;
}

.page-navigate__btn{
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 6px;
    padding-bottom: 6px;
    color: var(--main-text-color);
    background: var(--bg-color-section-white);
    cursor: pointer;
    
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    text-align: center;
    
    border-radius: 4px;
    border-style: none;

    transition: background-color 250ms var(--timing-function),
        color 250ms var(--timing-function),
        box-shadow 250ms var(--timing-function);
}

.page-navigate__btn:hover,
.page-navigate__btn:focus{
    color: var(--main-bg-color);
    background-color: var(--bg-button-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*Примеры работ*/
.example__list{
    display: flex;
    flex-wrap: wrap;
}

.example__item{
    width: 370px;
    margin-bottom: 30px;
    margin-right: 30px;
}

.example__item:nth-child(3n){
    margin-right: 0;
}

.example__item:nth-last-child(-n + 3){
    margin-bottom: 0;
}

.example__thumb{
    position: relative;
    overflow: hidden;
}

.example__link{
    display: block;
    color: var(--main-text-color);
    transition: box-shadow 250ms var(--timing-function);
}   

.example__link:hover,
.example__link:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}

.example__descr--hover{
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    
    display: block;
    font-size: 18px;
    line-height: 1.56em;
    padding: 63px 24px;
    color: var(--main-bg-color);
    background: var(--bg-color-item-before);

    opacity: 0;
    transform: translateY(100%);
    transition: opacity 250ms var(--timing-function),
        transform 250ms var(--timing-function);
}

.example__link:hover .example__descr--hover,
.example__link:focus .example__descr--hover{
    opacity: 1;
    transform: translateY(0);
}

.example__meta{
    padding: 20px 24px;
    border: 1px solid var(--border-example-color);
    border-top: none;
}

.example__header{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.example__title{
    margin-top: 4px;
    color: var(--second-text-color);
    font-size: 16px;
    line-height: 1.88;
}